
@{
        ViewBag.Title = "Interaktywna siłownia";
    //Layout = null;
    /*
    @Html.ActionLink("Lista książek", "ListaKsiazek", "Home", new { area = "" }, new { @class = "navbar-brand" })
    @Html.ActionLink("Lista autorów", "ListaAutorow", "Home", new { area = "" }, new { @class = "navbar-brand" })
    @Html.ActionLink("Edytuj/Dodaj książke", "index", "EdycjaKsiazki", new { area = "" }, new { @class = "navbar-brand" })
    @Html.ActionLink("Edytuj/dopisz autora", "Index", "EdycjaAutora", new { area = "" }, new { @class = "navbar-brand" })
*/
}

<h2>Menu</h2>
<div>
    <!--przyciski z góry do podstron +ify jeśli rola zaloowanego użytkownika == 0 (trener)-->
    <!--Profil  Treningi    Archiwum   Użytkownicy     treningi/ćwiczenia     -->
    @Html.ActionLink("Profil", "Profile", "User", new { area ="" }, new { @class = "navbar-brand" })
    @Html.ActionLink("Treningi", "Index", "Trening", new { area = "" }, new { @class = "navbar-brand" })
    @Html.ActionLink("Archiwum", "Index", "History", new { area = "" }, new { @class = "navbar-brand" })

    @Html.ActionLink("Użytkownicy", "UsersList", "Home", new { area = "" }, new { @class = "navbar-brand" })
    @Html.ActionLink("Edytuj Treningi/Ćwiczenia", "Index", "Edits", new { area = "" }, new { @class = "navbar-brand" })
</div>

